<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <title>Poster</title>
    </head>
    <body>
        <div id="header">
            <h1>Poster</h1>
        </div>
        <div id="left">
            <p class="title">选择海报属性</p>
            <form id="poster_form" enctype="multipart/form-data">
                <div class="image" id="bg">
                    <img src="jay.jpg" width=100% />
                </div>
                <div class="image" id="cover">
                    <img src="jay.jpg" width=100% />
                </div>
                <div class="image" id="preview">
                    <div id="preview_text">示例文本</div>
                </div>
            </form>
            <br />
            <input type="file" id="select_bg" accept="image/*" style="display:none;">
            <button id="btn_select_bg">选择背景</button>

            <input type="file" id="select_cover" accept="image/*" style="display:none;">
            <button id="btn_select_cover">选择封面</button>

            <input type="file" id="select_font" accept=".ttf,.otf" style="display:none;">
            <button id="btn_select_font">选择字体</button>

            <button>文字颜色</button>
            <br />
            <form>
                输入歌名:<br>
                <input type="text" id="song_title_input" name="song_title" placeholder=" ">
                <br>
                输入歌手:<br>
                <input type="text" id="singer_input" name="singer" placeholder=" ">
                <br>
                输入歌词:<br>
                <textarea id="lyrics_input" rows="3" cols="20"> </textarea>
            </form> 
        </div>

        <div id="right">
            <p class="title">输出</p>
            <div id="output_container">
                <div class="image2">
                    <img  id="preview-image" src="" width="100%"  alt="预览"/>
                </div>
                <button>保存海报</button>
            </div>
        </div>
        <div id="footer">
        <p>@AlexHoshina</p>
        </div>
    </body>
</html>
